.cont-icon-sigueme {
   background: #fff;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

a{
    font-family: "arial";
    text-decoration: none !important;
    font-style: italic;
}

