.footer {
  padding: 20px 0;
  margin-bottom:20px;
}

.footer h2.h5 {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.footer .list-unstyled a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}

.footer .list-unstyled a:hover {
  color: #ccc;
}

.footer .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.footer .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.footer .text-center img {
  max-height: 30px;
}

.footer .text-center p {
  margin-bottom: 0;
}

.footer .my-3 img {
  max-width: 100%;
  height: auto;
}

.footer .container {
  max-width: 1200px;
}

.botonAyuda {
  background-color: #007bff; /* Color de fondo */
  border-color: #0056b3; /* Color del borde */
  color: #fff; /* Color del texto */
  font-size: 16px; /* Tamaño de la fuente */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s, border-color 0.3s; /* Transiciones para cambios de color */
}

.botonAyuda:hover {
  background-color: #0056b3; /* Color de fondo al pasar el cursor */
  border-color: #003f7f; /* Color del borde al pasar el cursor */
}

.footer-containerultimo{
    background-color: white;
}